/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
    appearance: none;
    border:none;
    outline: none;
    background: none;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="password"] {
    border-bottom: 1px solid white;
    width: 100%;
}

.formside{
    display:flex;
    flex-direction: column;
    width: 60vw;
}

@font-face {
    font-family: 'modern';
    src: url('Stringtheory.ttf') format('woff2');
}

.description {
    width:100%;
    height: calc(65vh/2);
    background: linear-gradient(to bottom, rgb(111, 255, 173), rgb(7, 138, 195),rgb(26, 86, 237), rgb(0, 0, 171));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    font-family: 'modern', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color:aliceblue;
}

.buttonPart {
    width:100%;
    height: calc(65vh/2);
    background: linear-gradient(to top, rgb(111, 255, 173), rgb(7, 138, 195),rgb(26, 86, 237), rgb(0, 0, 171));
    padding: 1.5rem;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}